.notes__main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.notes__appbar {
  align-items: center;
  background-color: $primary;
  border-bottom: 0.5px solid #444;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
}

.notes__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}

.notes__title-input,
.notes__textarea {
  border: none;

  &:focus {
    outline: none;
  }
}

.notes__title-input {
  color: #444;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.notes__textarea {
  border: none;
  color: #444;
  cursor: auto;
  font-size: 20px;
  flex: 1 1 auto;
  margin-top: 30px;
  resize: none;
}

.notes__image img {
  box-shadow: 5px 5px $dark-grey;
  height: 150px;
}

.notes__textarea::-webkit-scrollbar {
  -webkit-appearance: none;
}

.notes__textarea::-webkit-scrollbar:vertical {
  width: 7px;
}

.notes__textarea::-webkit-scrollbar-button:increment,
.notes__textarea::-webkit-scrollbar-button {
  display: none;
}

.notes__textarea::-webkit-scrollbar-thumb {
  background-color: #989898;
  border-radius: 20px;
}
